#banniere {
    background-image: var(--bgBlue);
}

.banniere1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre-banniere {
    color: #fff;
    width: 300px;
}

.titre-banniere > .boutons {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: start;
    align-items: center;
}

.banniere2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}