@import 'header.css';
@import 'banniere.css';

* {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Fredoka One', cursive;
}

/* VARIABLES */
:root {
    --bgBlue: radial-gradient(circle at 10% 8%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 87% 45%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 9% 67%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 31% 83%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 46% 54%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 16% 24%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 18% 9%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 85% 69%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 55% 7%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 69% 69%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 68% 60%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),linear-gradient(135deg, rgb(3, 7, 46),rgb(24, 44, 146));

    /* https://flatuicolors.com/palette/defo */
    --blue1: #2980b9;
    --blue2: #3498db;
    --green1: #27ae60;
    --green2: #2ecc71;
    --red1: #c0392b;
    --red2: #e74c3c;
    --black1: #2c3e50;
    --turquoise1: #16a085;
    --turquoise2: #1abc9c;
    --purple1: #8e44ad;
    --purple2: #9b59b6;
    --yellow1: #f39c12;
    --yellow2: #f1c40f;
    --orange1: #d35400;
    --orange2: #e67e22;
}

.bouton {
    text-decoration: none;
    color: #fff;
    background-color: var(--blue1);

    padding: 10px;
    border-radius: 5px;
}

.bouton:hover {
    background-color: #var(--blue2);
    color: #fff;
}